<section>
    <div class="main-container">
        <div class="post-form-container">
            <form action="">
                <div class="input-container">
                    <label for="title">Title</label>
                    <input type="text" name="title"/>
                </div>
                <div class="input-container">
                    <label for="thought">Thought</label>
                    <textarea rows = "5" cols = "60" name = "thought"></textarea>
                </div>
                <button ng-click="submitPost()" class="add-button">Add Post</button>
            </form>
        </div>
    </div>
</section>
